body {
  padding-top: 50px;
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}
.navbar{
  background-image: url(../images/header_thing.png);
  background-size: cover;
  text-align: center;
}
.description{
    color: #ddd;
    margin: 10px 0 2em 0;
}
.description h1{
   font-size: 1.5em;
}
.description small{
    color: #555;
}
.description small a{
    color: #888;
}
.choices .song, .stop .song {
	display: block;
	height: 6em;
	border-bottom: 1px #555 solid;
}
.choices .song .title, .stop .song .title {
	color: #3399ff;
	font-size: 1.4em;
	flex: 0 100%;
}
.choices .song .artist, .stop .song .artist {
	color: #999;
	flex: 0 100%;
}
.choices .song .thing_from, .stop .song .thing_from {
	color: #999;
	font-style: italic;
	flex: 0 100%;
}
.choices .add, .stop .add{
	background-color:  #001500;
}
.choices .song:first-of-type, .stop .song:first-of-type{
    border-top: 1px #555 solid;
}
.choices .song a, .stop .song a{
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	align-items: center;
}
.choices .song a:hover, .stop .song a:hover{
	text-decoration: none;
}
#login_error{
	color: #ff0000;
	text-align: center;
	width: 100%;
	display: none;
}

.checkbox {
  margin-bottom: 10px;
}
.checkbox {
  font-weight: normal;
}
.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
}
input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
label{
	font-size: 1.5 em;
	font-weight: normal;
}
